In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

In [12]:
#Load previous csv
weather_df = pd.read_csv('output_data/cities.csv',index_col=0)

In [14]:
weather_df.head()

,City,Temperature(F),Latitude,Longitude,Humidity,Cloudiness,Wind Speed
0,yablonovo,64.08,50.8523,37.3574,75,57,6.33
1,rikitea,74.03,-23.1203,-134.9692,80,100,17.22
2,mount gambier,54.21,-37.8333,140.7667,58,100,13.42
3,lasa,62.37,46.6166,10.7002,88,6,1.74
4,port alfred,60.19,-33.5906,26.8910,86,55,5.01

In [15]:
#Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [21]:
#create heatmap variables
locations = weather_df[['Latitude','Longitude']].astype(float)
humidity = weather_df['Humidity'].astype(float)

In [25]:
#create humidity heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights = humidity, dissipating = False, max_intensity = 100, point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
#Weather Criteria
high_temp = 75
low_temp = 65
max_wind_speed = 10
max_humidity = 50

In [40]:
#Ideal Weather DataFrame
ideal_weather_df = weather_df.loc[(weather_df['Temperature(F)'] > low_temp)\
                                  & (weather_df['Temperature(F)'] < high_temp)\
                                  & (weather_df['Wind Speed'] < max_wind_speed)\
                                  & (weather_df['Humidity'] < max_humidity),:]
ideal_weather_df

,City,Temperature(F),Latitude,Longitude,Humidity,Cloudiness,Wind Speed
17,iki-burul,71.65,45.8208,44.6472,40,0,3.00
35,emerald,66.34,-23.5333,148.1667,40,0,8.77
53,mount isa,74.97,-20.7333,139.5000,25,5,9.22
78,east london,65.08,-33.0153,27.9116,43,63,5.03
91,taltal,67.59,-25.4000,-70.4833,38,0,3.69
105,hovd,72.12,48.0056,91.6419,33,42,1.59
195,airai,72.81,-8.9266,125.4092,48,10,4.94
287,sao felix do xingu,74.52,-6.6447,-51.9950,46,6,1.12
404,murgab,71.47,37.4966,61.9714,43,0,6.91
415,narimanov,66.11,46.6927,47.8498,42,1,5.88
457,ust-kuyga,66.94,70.0167,135.6000,47,1,8.28
463,shubarkuduk,72.45,49.1447,56.4872,42,0,8.01

In [98]:
#Get marker locations from ideal weather dataset
marker_locations = ideal_weather_df[['Latitude','Longitude']].astype(float)

In [99]:
coordinate1 = marker_locations[0:1]

In [100]:
coordinate1

    Latitude  Longitude
17   45.8208    44.6472

In [101]:
coordinates = "45.8208, 44.6472"
target_type = "hotel"
radius = 5000

params = {
    "location": coordinates,
    "types": target_type,
    "radius": radius,
    "key": gkey
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

hotel_response = requests.get(base_url, params).json()

hotel_response['results'][0]['name']

'Iki-Burul'

In [106]:
for row in

KeyError: 0